
<h1><%=@place.name%> </h1>

<h2> Posts </h2>

<ul>
  <% for post in @place.posts %>
    <li><%= "#{post.title}, #{post.description}" %></li>
  <% end %>
</ul>

<a href="/posts/new?place_id=<%=@place.id%>">New Post </a>

</br>
</br>
<a href="/places">Back to All Places </a>